################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Desafios/.vs/Desafios.slnx
/Desafios/.vs/ProjectEvaluation/desafios.metadata.v10.bin
/Desafios/.vs/ProjectEvaluation/desafios.projects.v10.bin
/Desafios/.vs/ProjectEvaluation/desafios.strings.v10.bin
